export(closedp,closedp.t,closedp.0,closedpCI.t,closedpCI.0,closedp.bc,closedp.Mtb,
       closedp.h,closedp.mX,closedpMS.t,getAllModels,profileCI,descriptive,histpos.0,histpos.t,
       openp,robustd.0,robustd.t,uifit,periodhist,plotCI)

importFrom(graphics, plot, boxplot)
importFrom(stats, glm, optimize, uniroot, optim)

S3method(boxplot,closedp)
S3method(boxplot,closedpCI)
S3method(boxplot,closedp.custom)
S3method(plot,closedp)
S3method(plot,closedpCI)
S3method(plot,closedpMS)
S3method(plot,descriptive)
S3method(plot,openp)
S3method(print,closedp)
S3method(print,closedp.bc)
S3method(print,closedpCI)
S3method(print,profileCI)
S3method(print,closedp.custom)
S3method(print,closedp.Mtb)
S3method(print,closedpMS)
S3method(print,descriptive)
S3method(print,openp)
S3method(print,robustd)
